.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

main {
    font-family: "Hanken Grotesk";
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    height: 450px;
    width: 600px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 20px hsla(224, 30%, 27%, 0.2);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#result > * {
    width: 75%;
    text-align: center;
    margin: 5px;
}

#result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    color: hsl(241, 100%, 89%);
}

#score-circle {
    margin: 10px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    padding: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score-circle * {
    margin: 0;
    font-weight: 700;
}

#score-circle p:first-child {
    font-size: 4em;
    color: white;
}

.highlight {
    color: white;
}

#summary {
    color: hsl(224, 30%, 27%);
    gap: 10px;
}

#summary > * {
    width: 80%;
    text-align: left;
    margin: 5px;
}

.summary-specifics {
    height: 45px;
    font-weight: 700;
    width: 100%;
    margin: 5px 0 10px 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.summary-specifics .label {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
}

#reaction {
    background-color:hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

#memory {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

#verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

#visual {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.score {
    margin: 5px 10px;
    color: hsl(224, 30%, 27%);
}

.score span {
    color: hsla(224, 30%, 27%, 0.5);
}

#continue {
    margin: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    padding: 15px 20px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    border: 0;
}

#continue:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (min-width: 425px) and (max-width: 768px){
    main {
        height: auto;
    }

    .container {
        height: 900px;
        width: 400px;
        flex-direction: column;
        margin: 50px;
    }

    .item {
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 425px) {
    body {
        margin: 0;
    }

    main {
        height: auto;
    }

    .container {
        height: 900px;
        width: 100%;
        flex-direction: column;
        margin: 0;
        border-radius: 0%;
        box-shadow: none;
    }

    .item {
        width: 100%;
        height: 50%;
    }

    #result {
        border-radius: 0 0 30px 30px;
    }
}